.footer{
    background-color: rgb(211, 204, 204);
    font-family: "isocteur";
    width: 100%;
    right: 0%;
    left: 0;
}
.footer-container-background{    
    /* background-color: rgb(211, 204, 204); */
    background-color: #FFF3F3 !important;
    font-family: "isocteur";
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.footer-info{
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: .9rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.footer-title svg{
    width: 1.25rem;
    height: 1.25rem;
}
.footer-title span{
    margin-left: 0.5rem;
}
.footer-tagline{
    color: black;
    font-size: 0.675rem;
    line-height: 1.25rem;
}
.footer-section-wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    font-size: 15px;
    line-height: 1.25rem;
}
.footer-category{
    color: black;
    /* letter-spacing: 0.1em; */
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    text-decoration: underline;
    font-size: 13px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    font-size: 12px;
}
.footer-link:visited{
    color: black;
}
.footer-list:hover{
    color: black;
}
.footer-bottom{
    background-color: #28231d;
}
.footer-bottom-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding: 1.25rem 2rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.footer-copyright{
    color: white;
    font-size: 0.6rem;
    line-height: 1.25rem;
    text-align: center;
}
.footer-social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.footer-social-icon{
    width: 1.25rem;
    height: 1.25rem;
    fill: white;
}

 /* TABLET */

@media all and (min-width: 468px){    
 .footer-container{
    flex-direction: row;
}
.footer-info{
    margin-left: 0;
    margin-right: 0;
    text-align: right;
}
.footer-title{
    justify-content: flex-start;
}
.footer-section-wrapper{
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.footer-bottom{
    flex-direction: row;
    justify-content: space-between;
}
}
