.main-page{
    background-color: #FFF3F3 !important;
}

.vest-schema{
    width: 600px;
    height: 500px;   
    padding-bottom: 100px;  
    margin-left: 25px; 
}
/* .vest-schema-div{
    background-color: #FFF3F3 !important;
    margin-bottom: 100px;
} */
